/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	padding-top: 90px;
 }

 .jumbotron{
 	background: #7fafaf !important;
 	padding-top: 0 !important;
 }

 .navbar-inverse{
 	margin-bottom: 0 !important; 
 }

 .textoprincipal{
 	color: #ffffff !important;
 }

 .corbotao{
 	background: #312742 !important;
 	border-color: transparent;
 }

 .centered {
 	text-align: center !important;
 }

 .separador {
 	width: 60%; /* coloque aqui a largura da linha */
 	border-top: 2px solid #e6e8e6;
 	list-style-type: none;
 }

 .centro {
 	padding-top: 20px;
 	width:100px;
 	height:100px;
 	position:absolute;
 	top:50%;
 	left:50%;
 	margin-top:-45px;
 	margin-left:-50px;
 }

 .centro2{
 	margin: 0 auto;
 }

 .descetexto{
 	padding-top: 40px !important;
 }

 .corcheia2{
 	background: #e0e3e3 !important;
 }

 .corcheia3{
 	background: #ffce2c !important;
 }

 .corcheia4{
 	background: #787879 !important;
 }

 .corcheia5{
 	background: white !important;
 }

 .corcheia6{
 	background: #6495ED !important;
 }


 .desceimagem{
 	padding-top: 90px;
 }

 .textorodape{
 	padding-left: 100px;
 }

 .textorodape2{
 	padding-right: 100px;
 }

 .jumbotron{
 	margin: 0;
 }

 .abaixapartefinal{
 	padding-bottom: 50px;
 }

 .mudafonte{
 	font-family: Century Gothic, CenturyGothic, AppleGothic,sans-serif !important;
 }

 .tamanhototal{
 	width: 100% !important;
 	height: 100% !important;
 }

 .just{
 	text-align: justify;
 }

 .subindo{
 	margin-bottom: 0px !important;
 }

 .justificatexto{
 	text-align: justify !important;
 	text-justify: inter-word !important;
 }

.copyright-section {
    padding: 15px 0;
    font-size: 11px;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(255,255,255,.06);
}

.affix {
    position: fixed !important;
    padding-top: 5px;
    padding-bottom: 5px;
    right: 0;
    top: 0;
    border-radius: 0;
    left: 0;
    border-width: 0 0 1px;
    z-index: 1030;
}

.navbar-right{
	padding-top: 10px;
}
