/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
 	padding-top: 40px;
 }

 .jumbotron{
 	background: #7fafaf !important;
 }

 .textoprincipal{
 	color: #ffffff !important;
 }

 .corbotao{
 	background: #312742 !important;
 	border-color: transparent;
 }

 .centered {
 	text-align: center !important;
 }

 .separador {
 	width: 60%; /* coloque aqui a largura da linha */
 	border-top: 2px solid #e6e8e6;
 	list-style-type: none;
 }

 .centro {
 	padding-top: 20px;
 	width:100px;
 	height:100px;
 	position:absolute;
 	top:50%;
 	left:50%;
 	margin-top:-45px;
 	margin-left:-50px;
 }

 .centro2{
 	margin: 0 auto;
 }

 .descetexto{
 	padding-top: 40px !important;
 }

 .corcheia2{
 	background: #e0e3e3 !important;
 }

.corcheia3{
 	background: #ffce2c !important;
 }

.corcheia4{
 	background: #787879 !important;
 }

 .desceimagem{
 	padding-top: 90px;
 }

 .textorodape{
 	padding-left: 100px;
 }

 .textorodape2{
 	padding-right: 100px;
 }

 .jumbotron{
 	margin: 0;
 }

 .abaixapartefinal{
 	padding-bottom: 100px;
 }